/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  font-family: var(--font-main), sans-serif;
  font-variation-settings: 'wght' var(--font-wght-text);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  max-block-size: 960px;
  padding: 100px 0 105px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
  color: var(--accent-color);
  background-attachment: fixed;
  background-image: var(--bg-img);
}

.button {
  cursor: pointer;
}

.header {
  inline-size: clamp(375px, 100%, 698px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
  margin-block-end: 100px;
  padding: 136px clamp(16px, 100%, 120px) 25px ;
}

.title {
  text-transform: uppercase;
  text-decoration: none;
  font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}

.title:focus {
  border: none;
  outline: none;
}

.header_theme {
  text-transform: uppercase;
  font-family: 'PressStart2P-Regular';
  font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;
  margin-block-end: 5px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 14px;
}

.theme-menu__item {
  block-size: 14px;
  position: relative;
}

.theme-menu__button {
  position: relative;
  border: none;
  background-color: var(--background-color);
  color: var(--accent-color);
  font-family: 'PressStart2P-Regular';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-inline-start: 20px;
  padding-inline: 0;
  padding-block: 0;
}

.theme-menu__button:focus-visible {
  outline: none;
  border: none;
}

.theme-menu__button:after {
  position: absolute;
  content: '';
  bottom: 2;
  display: block;
  inline-size: 0;
  block-size: 2px;
  transition: .3s ease;
}

.theme-menu__button:hover {
  color: var(--accent-color, #000);
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus:after {
  inline-size: 100%;
  background: var(--accent-color, #000);
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  left: -17px;
  color: var(--accent-color, #000);
  opacity: 0.6;
  animation: pointer_animation 1s infinite ease-in-out;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.section {
  inline-size: clamp(375px, 100%, 698px);
  background-color: var(--background-color);
}

.theme {
  padding: 5px 10px;
  border: 2px solid var(--accent-color, #000);
  font-family: var(--font-accent);
  font-size: 18px;
  font-style: normal;
  font-variation-settings: 'wght' var(--font-wght-title);
  line-height: normal;
}

.image {
  position: relative;
  max-inline-size: 698px;
  max-block-size: 698px;
  flex-shrink: 0;
  border-inline-start: 2px solid var(--accent-color, #000);
  border-inline-end: 2px solid var(--accent-color, #000);
}

.main .section:nth-child(1) {
  .image-pic {
    filter: sepia(60%);
  }
}
.main .section:nth-child(2) {
  .image-pic {
    filter: contrast(200%);
  }
}
.main .section:nth-child(3) {
  .image-pic {
    filter: grayscale(90%);
  }
}
.main .section:nth-child(4) {
  .image-pic {
    filter: saturate(500%);
  }
}
.main .section:nth-child(5) {
  .image-pic {
    filter: blur(5px);
  }
}
.main .section:nth-child(6) {
  .image-pic {
    filter: brightness(0.4);
  }
}
.main .section:nth-child(7) {
  .image-pic {
    filter: opacity(25%);
  }
}
.main .section:nth-child(8) {
  .image-pic {
    filter: invert(75%) drop-shadow(0 0 20px blue);
  }
}

.image-pic {
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

.image-text {
  position: absolute;
  right: 25px;
  top: 25px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  color: var(--accent-color);
}

@supports (-webkit-text-stroke: 1px var(--background-color)) {
  .image-text {
    -webkit-text-stroke: 1px var(--background-color);
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px;
  border: 2px solid var(--accent-color, #000);
  font-family: var(--font-accent);
  font-size: 18px;
  font-style: normal;
  line-height: 21px;
  font-variation-settings: 'wght' var(--font-wght-text);
}

.card_button-section {
  display: flex;
  align-self: end;
  inline-size: 171px;
  block-size: 38px;
}

.card_button-section:focus-visible {
  outline: none;
  border: none;
}

.card__icon-button {
  object-position: center;
  padding-inline: 0;
  padding-block: 0;
  border: 2px solid var(--background-color);
  background-color: var(--background-color);
}

.card__icon-button:focus-visible {
  outline: none;
  border: 2px solid var(--accent-color);
  transition: .3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__like-button {
  align-items: end;
  align-self: flex-end;
  position: relative;
  padding: 9px 17px;
  margin-inline-start: 2px;
  inline-size: 130px;
  block-size: 38px;
  font-family:  var(--font-main), sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  border: 2px solid var(--accent-color);
  outline: none;
  background-color: var(--background-color);
  z-index: 1;
}

.card__like-button:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left center;
}

.card__like-button:hover::after {
  transform: scaleX(1);
}

.card__like-button:focus-visible {
  outline: none;
  border: 2px solid var(--accent-color);
  box-shadow: 2px 2px var(--accent-color);
  transition: 0.3s ease;
}

.button__text {
  position: relative;
  z-index: 2;
  color: var(--button-accent-color);
  mix-blend-mode: difference;
}

.like-icon:hover {
  .main-body {
    fill: var(--accent-color);
    transition: fill 0.3s 0.05s;
  }
  .core {
    fill: var(--accent-color);
    transition: fill 0.3s;
  }
}

.like-icon:active {
  .main-body {
    fill: var(--sparks-color);
    transition: fill 0.3s 0.05s;
  }
  .core {
    fill: var(--sparks-color);
    transition: fill 0.3s;
  }
}

.main-body {
  fill: var(--background-color);
  transition: fill 0.3s;
}

.core {
  fill: var(--background-color);
  transition: fill 0.3s 0.03s;
}

.contour {
  fill: var(--accent-color);
  transition: fill 0.1s;
}

.sparks {
  opacity: 0;
}

.like-icon.is-liked {
  .main-body {
    fill: var(--sparks-color);
    transition: fill 0.3s 0.05s;
  }
  .core {
    fill: var(--sparks-color);
    transition: fill 0.3s;
  }
  .contour {
    fill: var(--sparks-color);
    transition: fill 0.3s 0.06s;
  }
  .heart {
    animation-name: sized;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in;
    animation-delay: .1s;
    transform-origin: center;
  }
  .sparks {
    animation-name: sparked;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in;
    animation-delay: .3s;
  }
}

.dialog[open] {
  display: grid;
  grid-template-columns: auto auto;
  padding: 30px;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  column-gap: 20px;
  inline-size: 357px;
  block-size: 193px;
  border: none;
  outline: 2px solid var(--accent-color);
  background-color: var(--background-color);
  color: var(--accent-color);
}

dialog::backdrop {
  opacity: 0.75;
  background: var(--main-color, #000);
} 

.dialog {
  .footer_svg {
    inline-size: 40px;
    block-size: 40px;
  }
}

.dialog-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  text-transform: uppercase;
}

.dialog-form {
  inline-size: 100%;
  background-color: inherit;

  grid-column: span 2;
  text-align: center;
}

.dialog-button {
  inline-size: 100%;
  padding: 9px 17px;
  border: 2px solid var(--accent-color);
  background-color: inherit;
  text-transform: uppercase;
}

.dialog-form:focus-visible {
  outline: none;
  border: none;
}

.dialog-button:focus-visible {
  outline: none;
  box-shadow: 2px 2px var(--accent-color);
  transition: 0.3s ease;
}

.footer {
  padding: 0px 0 100px;
}

.footer_svg {
  inline-size: 21px;
  block-size: 21px;
}

.floppy-img {
  inline-size: 100%;
  block-size: 100%;
}

.footer_button {
  display: inline-flex;
  gap: 8px;
  align-items: center;
  padding: 15px 20px;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color, #000);
}

.footer_button:focus-visible {
  outline: none;
  border: 2px solid var(--accent-color);
  box-shadow: 2px 2px var(--accent-color);
  transition: 0.3s ease;
}

.footer_text {
  font-family: 'PressStart2P-Regular';
  font-size: 14px;
  font-style: normal;
  font-variation-settings: 'wght' var(--font-wght-text);
  line-height: 90%;
}

@media (inline-size <= 375px) {
  .footer_button {
    display: flex;
    flex-direction: column;
  }
  .footer_svg {
    inline-size: 28px;
    block-size: 28px;
  }
}

.button-fill-animation {
  position: relative;
}

.button-fill-animation::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left center;
}

.button-fill-animation:hover::after {
  transform: scaleX(1);
}