/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --font-main: 'PressStart2P-Regular', sans-serif;
    --font-accent: 'Inter-Variable', sans-serif;
    --font-wght-title: 700;
    --font-wght-text: 400;
    --background-color: #fff;
    --accent-color: #000;
    --button-accent-color: #fff;
    --contour-color: var(--accent-color);
    --main-body-color: none;
    --core-color: none;
    --sparks-color: #FF0000;
    --bg-img: 
    repeating-linear-gradient(transparent 0 2px, #d3d3d3 2px 4px),
    repeating-linear-gradient(-90deg, transparent 0 2px, #d3d3d3 2px 4px),
    repeating-linear-gradient(#e7e7e7, #1a1a1a);
}


@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #000;
        --accent-color: #00CC14;
        --button-accent-color: #00cc14;
        --font-wght-title: 785;
        --font-wght-text: 465;
        --bg-img: 
        repeating-linear-gradient(transparent 0 2px, #000 2px 4px),
        repeating-linear-gradient(-90deg, transparent 0 2px, #000 2px 4px),
        repeating-linear-gradient(#007f0c, #004306);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: #fff;
        --accent-color: #000;
        --button-accent-color: #fff;
        --font-wght-title: 700;
        --font-wght-text: 400;
        --bg-img: 
        repeating-linear-gradient(transparent 0 2px, #d3d3d3 2px 4px),
        repeating-linear-gradient(-90deg, transparent 0 2px, #d3d3d3 2px 4px),
        repeating-linear-gradient(#e7e7e7, #1a1a1a);
    }
}